In [1]:
import re

In [3]:
sentence = "I was born in the year 1989"
sentence

'I was born in the year 1989'

In [4]:
re.sub(r'\d','#',sentence)
#replace digits by #

'I was born in the year ####'

In [5]:
re.sub(r'\d',' ',sentence)
#replace digits by space

'I was born in the year     '

In [6]:
re.sub(r'\D','#',sentence)
#replace non-digits by #

'#######################1989'

In [7]:
re.sub(r'[0-9]','#',sentence)
#replace 0-9 by #

'I was born in the year ####'

In [8]:
re.sub(r'[^0-9]','#',sentence)
#replace non-digits by #

'#######################1989'

In [10]:
re.sub(r'\w','#',sentence)
#replace non-spae/word by #

'# ### #### ## ### #### ####'

In [11]:
re.sub(r'\W','#',sentence)
#replace space by #

'I#was#born#in#the#year#1989'

In [12]:
re.sub(r'[a-zA-Z0-9]','#',sentence)

'# ### #### ## ### #### ####'

In [13]:
re.sub(r'[^a-zA-Z0-9]','#',sentence)

'I#was#born#in#the#year#1989'

In [14]:
re.sub(r'\s','#',sentence)
#replace space by #

'I#was#born#in#the#year#1989'

In [15]:
re.sub(r'\S','#',sentence)

'# ### #### ## ### #### ####'

In [16]:
re.sub(r'[ab]','#',sentence)

'I w#s #orn in the ye#r 1989'

In [17]:
re.sub(r'in','#',sentence)

'I was born # the year 1989'

In [18]:
re.sub(r'[a-z]','#',sentence)

'I ### #### ## ### #### 1989'

In [19]:
re.sub(r'[a-zA-Z]','#',sentence)

'# ### #### ## ### #### 1989'

In [20]:
re.sub(r'[a-z]','#',sentence,flags=re.I)
#flaf-re.I is both upper and lower case letters

'# ### #### ## ### #### 1989'

In [21]:
sentence2 = "my name is sonu, sonu is good boy, sonu work well"

In [22]:
re.sub(r'sonu','parjwal',sentence2)

'my name is parjwal, parjwal is good boy, parjwal work well'

In [23]:
re.sub(r'sonu','parjwal',sentence2,count=1)
#only replace 1 word

'my name is parjwal, sonu is good boy, sonu work well'

In [25]:
sentence

'I was born in the year 1989'

In [26]:
re.match(r'.*',sentence)
#match . - 0 match found out of 27 letters

In [28]:
sentence3 = ''
sentence3

''

In [29]:
re.match(r'.*',sentence3)
# . - 0 match found out of 0 words/letters

In [30]:
re.match(r'.+',sentence3)

In [31]:
re.match(r'.+',sentence)

In [32]:
re.search(r'^I',sentence)
#search I

In [33]:
re.search(r'1989$',sentence)

In [34]:
re.search(r'1988$',sentence)

In [35]:
sentence11 = "!welcome to Nagpur 2023"
sentence22 = "we will have ~% +++--- fun at @orange #city. I am Happy"
sentence33 = "we         love        nagpur"

In [37]:
sent1 = re.sub(r'\W',' ',sentence11)
#remove non words- like special caras
sent1

' welcome to Nagpur 2023'

In [39]:
sent1 = re.sub(r'\d',' ',sent1)
sent1

' welcome to Nagpur     '

In [42]:
sent1 = re.sub(r'^\s+|\s+$','',sent1)
#remove spaces-
#^- from start
#s+ - one space 
#s+$ - more space
#replace by ' '
sent1

'welcome to Nagpur'

sentenc22

In [43]:
sentence22

'we will have ~% +++--- fun at @orange #city. I am Happy'

In [44]:
sent2 = re.sub(r'\W',' ',sentence22)
sent2

'we will have           fun at  orange  city  I am Happy'

In [46]:
sentence22

'we will have ~% +++--- fun at @orange #city. I am Happy'

In [49]:
sent3 = re.sub(r'[~%\+\-@#]',' ',sentence22)
sent3

'we will have           fun at  orange  city. I am Happy'

In [50]:
sent3 = re.sub(r'\s+',' ',sent3)
sent3

'we will have fun at orange city. I am Happy'

In [51]:
sentence22

'we will have ~% +++--- fun at @orange #city. I am Happy'

In [53]:
re.sub(r'\s+love\s+',' admir ',sentence33)
#replace love by admir

'we admir nagpur'

In [55]:
X = ["This is my #Nagpur",
    "Welcome to the orange city @Nagpur",
    "440009 is my Pincode in city",
    "Remember my friend r-ramoji",
    "Living       in       Nagpur"]
#this is list of sentences
X

['This is my #Nagpur',
 'Welcome to the orange city @Nagpur',
 '440009 is my Pincode in city',
 'Remember my friend r-ramoji',
 'Living       in       Nagpur']

In [57]:
for i in range(len(X)):
    X[i] = re.sub(r'\W',' ',X[i])
    X[i] = re.sub(r'\d',' ',X[i])
    X[i] = re.sub(r'\s+[a-z]\s+',' ',X[i])
    X[i] = re.sub(r'^\s+','',X[i])
    X[i] = re.sub(r'\s+',' ',X[i])
X

['This is my Nagpur',
 'Welcome to the orange city Nagpur',
 'is my Pincode in city',
 'Remember my friend ramoji',
 'Living in Nagpur']

In [59]:
s = 'dany work from office'
s

'dany work from office'

In [60]:
s.split()

['dany', 'work', 'from', 'office']

In [61]:
s.split('from')

['dany work ', ' office']

In [62]:
s = 'dany,work,from,office'

In [64]:
s.split(',')

['dany', 'work', 'from', 'office']

In [66]:
lst = ['dany', 'work', 'from', 'office']
len(lst)

4

In [67]:
','.join(lst)

'dany,work,from,office'

In [68]:
' '.join(lst)

'dany work from office'

In [69]:
email = 'danypetkar@gmail.com'

In [70]:
email.split('@')

['danypetkar', 'gmail.com']

In [71]:
email.split('@')[0]

'danypetkar'

In [72]:
#function of split
def username(st):
    return st.split('@')[0]

In [73]:
username('prajwal@gmail.com')

'prajwal'

In [74]:
# pip install nltk

In [75]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True